# Generating date ranges

In [10]:
import pandas as pd
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

Month and year, e.g. 'Nov-2014'

In [11]:
pd.date_range('2014-10-10',
              '2016-01-07',
              freq='MS').strftime("%b-%Y").tolist()

['Nov-2014',
 'Dec-2014',
 'Jan-2015',
 'Feb-2015',
 'Mar-2015',
 'Apr-2015',
 'May-2015',
 'Jun-2015',
 'Jul-2015',
 'Aug-2015',
 'Sep-2015',
 'Oct-2015',
 'Nov-2015',
 'Dec-2015',
 'Jan-2016']

Year and month, e.g. '2014-Nov'

In [12]:
pd.date_range('2014-10-10',
              '2016-01-07',
              freq='MS').strftime("%Y-%b").tolist()

['2014-Nov',
 '2014-Dec',
 '2015-Jan',
 '2015-Feb',
 '2015-Mar',
 '2015-Apr',
 '2015-May',
 '2015-Jun',
 '2015-Jul',
 '2015-Aug',
 '2015-Sep',
 '2015-Oct',
 '2015-Nov',
 '2015-Dec',
 '2016-Jan']

Months as strings from '01' to '12'

In [13]:
pd.date_range('2014-10-10',
              '2016-01-07',
              freq='MS').strftime("%m").tolist()

['11',
 '12',
 '01',
 '02',
 '03',
 '04',
 '05',
 '06',
 '07',
 '08',
 '09',
 '10',
 '11',
 '12',
 '01']

Month names, e.g. 'Nov'

In [14]:
pd.date_range('2014-10-10',
              '2016-01-07',
              freq='MS').strftime("%b").tolist()

['Nov',
 'Dec',
 'Jan',
 'Feb',
 'Mar',
 'Apr',
 'May',
 'Jun',
 'Jul',
 'Aug',
 'Sep',
 'Oct',
 'Nov',
 'Dec',
 'Jan']

# Example

Generate a date range, then left join that with actual data.

Date range:

In [15]:
reference_dates = pd.date_range('2022-01-01',
                                '2022-06-01',
                                freq='MS').strftime("%m-%Y").to_list()
reference_dates = pd.DataFrame({'dates': reference_dates})

Actual data:

In [16]:
df = pd.DataFrame({'dates': ['2022-01-01', '2022-01-15', '2022-03-12']})
df['dates'] = pd.to_datetime(df['dates'])
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   dates   3 non-null      datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 152.0 bytes

       dates
0 2022-01-01
1 2022-01-15
2 2022-03-12

In [17]:
df['dates_formatted'] = df['dates'].dt.strftime("%m-%Y")
df.head()

       dates dates_formatted
0 2022-01-01         01-2022
1 2022-01-15         01-2022
2 2022-03-12         03-2022

Join:

In [18]:
reference_dates.merge(df['dates_formatted'],
                      how='left',
                      left_on='dates',
                      right_on='dates_formatted')

     dates dates_formatted
0  01-2022         01-2022
1  01-2022         01-2022
2  02-2022             NaN
3  03-2022         03-2022
4  04-2022             NaN
5  05-2022             NaN
6  06-2022             NaN